<h1>Create a Podcast Listing</h1>
<form action="<%= podcasts_path %>" method="POST">
  <p>Name:<input type="text" name="name" id="" /></p>
  <p>Genre:<input type="text" name="genre" id="" /></p>
  <p>Explicit content:</p>
  <select name="explicit_content" id="">
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>
<input type="submit" value="submit">
</form>
